<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">

      <a class="navbar-brand" href="/" style="font-weight: bold; font-size: 1.5rem;">
        <i class="bi bi-car-front"></i> Coches API
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Bienvenida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/api" routerLinkActive="active">API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/acercade" routerLinkActive="active">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>

<footer class="bg-dark text-white text-center py-4 mt-5">
  <div>
    <i class="bi bi-car-front"></i> <span class="font-weight-bold">API Coches</span> &copy; 2025
  </div>
</footer>
