<div class="container my-5">
  <h2 class="text-center mb-5">Administrar Coches</h2>

  <!-- Formulario para agregar o editar coche -->
  <div *ngIf="cocheSeleccionado" class="row mb-4">
    <div class="col-md-12">
      <form (ngSubmit)="cocheSeleccionado.id ? editarCoche() : agregarCoche(cocheSeleccionado)">
        <div class="form-group">
          <label for="marca">Marca</label>
          <input type="text" class="form-control" id="marca" [(ngModel)]="cocheSeleccionado.marca" name="marca">
        </div>
        <div class="form-group">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" id="modelo" [(ngModel)]="cocheSeleccionado.modelo" name="modelo">
        </div>
        <div class="form-group">
          <label for="anio">Año</label>
          <input type="number" class="form-control" id="anio" [(ngModel)]="cocheSeleccionado.anio" name="anio">
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" class="form-control" id="precio" [(ngModel)]="cocheSeleccionado.precio" name="precio">
        </div>
        <div class="form-group">
          <label for="imagen">Imagen</label>
          <input type="text" class="form-control" id="imagen" [(ngModel)]="cocheSeleccionado.imagen" name="imagen">
        </div>
        <button type="submit" class="btn btn-success">
          {{ cocheSeleccionado.id ? 'Editar Coche' : 'Agregar Coche' }}
        </button>
      </form>
    </div>
  </div>

  <!-- Lista de coches -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <!-- Si no hay coches -->
  <div *ngIf="!loading && coches.length === 0" class="text-center">
    <p>No hay coches disponibles.</p>
  </div>

  <!-- Cuando cargan los datos y hay coches -->
  <div *ngIf="!loading && coches.length > 0" class="row">
    <div class="col-md-4 mb-4" *ngFor="let coche of coches">
      <div class="card">
        <img *ngIf="coche.imagen" [src]="coche.imagen" alt="{{ coche.marca }} {{ coche.modelo }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ coche.marca }} {{ coche.modelo }}</h5>
          <hr>
          <p class="card-text"><strong>Año:</strong> {{ coche.anio }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ coche.precio | formatPrice }}€</p>
          <button class="btn btn-warning me-3" (click)="cocheSeleccionado = coche">Editar</button>
          <button class="btn btn-danger" (click)="eliminarCoche(coche.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
