<div class="container my-5 text-center">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3 text-danger"><i class="bi bi-x-circle"></i></h1>
      <h2 class="text-warning">¡Oops! Página no encontrada.</h2>
      <p class="lead text-muted">Lo sentimos, pero la página que buscas no existe o ha sido movida. Asegúrate de que la URL esté correcta.</p>
    </div>
  </div>

  <div class="row justify-content-center mb-5 mt-5">
    <div class="col-md-6">
      <h1 class="fs-1 text-bg-danger p-4">ERROR 404</h1>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <p class="text-muted">Si quieres volver a la página principal, puedes hacer clic en el siguiente botón:</p>
      <a href="/" class="btn btn-primary btn-lg">Volver al inicio</a>
    </div>
  </div>
</div>
